#gameContainer{
    text-align: center;
    display: grid;
    grid-template-areas: 
    "info gameplay stats";
    grid-template-columns: 1fr auto 1fr;
}

.gameplay{
    grid-area: gameplay;
}
#gameBoard{
    border: 3px solid;
    color: #06481f;
    border-width: 5px;
    height: 500px;
    width: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: grid;
    
}

#score{
    font-family: "permanent Marker", cursive;
    font-size: 3em;
    color: #fefefe;
}

#resetBtn{
    font-family: "permanent Marker", cursive;
    font-size: 2em;
    width: 150px;
    height: 55px;
    border-radius: 17px;
    text-align: top;
    border: 5px solid #06481f;
    cursor: pointer;
    color: #fefefe;
    background-color: black;
    transition: 0.3ms ease;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    
}
 #resetBtn:hover {
    background-color: #06481f;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

#navbar{
    text-align: center;
    padding-bottom: 20px;
    font-size: 2em;
    font-family: "permanent Marker", cursive;
    color: #fefefe;
 
    
}

body{
display:flex;
flex-direction: column;
align-items: center;

background-color: black;
} 


#info{
    grid-area: info;
    color: green;
    font-size: 2.5em;
    padding: 70px;
    padding-top: 1em;
    text-align: left;
    font-family: "permanent Marker", cursive;

}
#info p {
    font-size: 0.5em;
    color: white;
    
    font-family: "permanent Marker", cursive;
}

#stats{
    grid-area: stats;
    color: #fefefe;
    font-size: 1.5em;
    font-family: "permanent Marker", cursive;

}
#stats h1{
    color: green;
    font-size: 2em;
    font-family: "permanent Marker", cursive;

}